body{
	margin: 0;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 30px;
	background-color: lightgrey;
	}

header{
	background-color: darkred;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 15px;
	color: white;
	font-size: 15px;
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 14px solid antiquewhite;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 20px;
	float: center;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: darkred;
	margin: 10px 0 10px;
}

a{
	color: darkred;
}

a:hover{
	opacity: .5;
	background-color: transparent;
}

footer{
	background-color: darkred;
	text-align: center;
	padding:0 2%;
	color: white;
	font-size: 15px;
	width: 96%;
	clear: both;
}

footer p{
	margin: 0;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: white;
}

p.caption{
	color: darkgrey;
	font-style: italic;
	margin-top: 0;
}

.listitem{
	display: inline-block;
	padding: 1px 2% 1px 2%;
	color: white;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	width: 30%;
}
#navbar ul li a{
	text-decoration: none;
	font-size: 1.2em;
	color: black;
	padding: 5px 1%;
	line-height: 5px;
	display: flex;
	justify-content: space-around;
	width: 35%;
}

#navbar ul li a:hover{
	opacity: .5;
	color: darkred;
	background-color: transparent;
    text-decoration: underline;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color: darkred;
	margin: 5px;
}

.burger{
	display: none;
}

.links ul li a{
	color: blue;
}

#container{
	max-width: 96%;
	margin: 0 auto;
}

.main{
	transition: margin-left .5s;}

	.header{
		position: absolute;
		width: 100%;
		padding: 30px;
		color: black;
		z-index: 10;}
	.header-left{
		display: flex;
		align-items: center;
	}
	.header-right{
		text-align: center:
	}

	.listitem-header{
		display: inline;
		margin-right: 25px;	}
	a{
		color: black;
		opacity: 7s;}
	a:hover{
		opacity 1;
		transition: opacity .3 ease;
		}


.background-element{
	position: absolute;
	z-index: -1;
}

.text-center{
	text-align: center;
}

.colour{
	color: blue;
}
.box{
	width: 31%;
	height: 240px;
	padding: 20px 1px;
	border: 5px solid black;
	margin: 1px;
	text-align: center;
	display: inline-block;
}

	.service_item{
		margin: 10px 0px;
		padding: 20px 15px;
		background: rgba(255, 255, 255, 0.9);
		border-radius: 5px;
	}
	.service_icon{
		width: 100px;
		height: 80px;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.service_heading{
		font-weight: bold;
		font-size: 1.3em;
		text-align: center;}

	.service_text{
		opacity: .7;
		text-align: center;
		text-align: center;}

@media screen and (max-width: 1024px){
 	body{ overflow-x: hidden; }
 	.nav-links{
 		width: 60%;}

@media screen and (max-width: 1024px){
 	body{ overflow-x: hidden; }
 	.nav-links{
 		position: absolute;
 		right: 0px;
 		height: 90vh;
 		top: 64vh;
 		background-color: darkred;	
		display: flex;
 		flex-direction: column;
 		align-items: center;
 		width: 90%;
 		transform: translateX(100%);
 		transition: transform 0.5s ease-in;
 	}
 	.nav-links li{
 		opacity: 5;
  		 	}

	.burger{
		display: block;
	}

	.nav-active{
	transform: translateX(0%);}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0%);
	}
}
