body{
	margin: 0;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 30px;
	background-color: lightgrey;
}

header{
	background-color: darkred;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 15px;
	color: white;
	font-size: 15px;
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 14px solid antiquewhite;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 20px;
	float: center;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: darkred;
	margin: 10px 0 10px;
}

a{
	color: darkred;
}
a:hover{
	opacity: .5;
	background-color: transparent;
}

footer{
	background-color: darkred;
	text-align: center;
	padding:0 2%;
	color: white;
	font-size: 15px;
	width: 96%;
	clear: both;
}

footer p{
	margin: 0;
}

p.caption{
	color: darkgrey;
	font-style: italic;
	margin-top: 0;
}

.listitem{
	display: inline-block;
	padding: 1px 2% 1px 2%;
}

#navbar{
	background-color: white;
	border: 1px white solid;
	text-align: center;
}

#navbar ul li a{
text-decoration: none;
font-size: 1.2em;
color: black;
padding: 5px 1%;
line-height: 5px;
}

#navbar ul li a:hover{
	opacity: .5;
	color: darkred;
	background-color: transparent;
    text-decoration: underline;
}

#maincontent{
width: 96%;
padding: 0 2%;
}

#container{
	max-width: 96%;
	margin: 0 auto;
}

@media screen and (max-width: 768px){
	#maincontent{
	width: 100%;
	padding: 0 0%;
}
}


.service_icon{
	width: 25px;
}